skim:
  input_tree: Events
  other_trees:
    - LuminosityBlocks
    - Runs
  sel_ref: selection
  column_filters:
    - drop Jet_hfsigmaEtaEta
    - drop Jet_hfsigmaPhiPhi
    - drop Jet_hfcentralEtaStripSize
    - drop Jet_hfadjacentEtaStripsSize
    - drop Jet_chEmEF
    - drop Jet_chHEF
    - drop Jet_hfEmEF
    - drop Jet_hfHEF
    - drop Jet_muEF
    - drop Jet_neEmEF
    - drop Jet_neHEF
    - drop Jet_muonSubtrFactor
    - drop Electron_sieie
    - drop Electron_scEtOverPt
    - drop Electron_jetRelIso
    - drop Electron_r9
    - drop Electron_jetPtRelv2
    - drop Electron_vidNestedWPBitmap
    - drop Electron_vidNestedWPBitmapHEEP
    - drop Electron_hoe
    - drop Electron_dr03EcalRecHitSumEt
    - drop Electron_dr03HcalDepth1TowerSumEt
    - drop Electron_jetNDauCharged
    - drop Electron_dr03TkSumPt
    - drop Electron_dr03TkSumPtHEEP
    - drop Electron_tightCharge
    - drop Electron_cutBased_HEEP
    - drop Muon_segmentComp
    - drop Muon_jetRelIso
    - drop Muon_jetPtRelv2
    - drop Muon_nStations
    - drop Muon_jetNDauCharged
    - drop Tau_idDecayModeOldDMs
    - drop Tau_idAntiEleDeadECal
    - drop Tau_photonsOutsideSignalCone
    - drop Tau_puCorr
    - drop Tau_chargedIso
    - drop Tau_neutralIso
    - drop ^(n|)boostedTau(_.*|)$
    - drop ^(n|)OtherPV(_.*|)$
    - drop ^(n|)Photon(_.*|)$
    - drop ^(n|)LowPtElectron(_.*|)$
    - drop ^(n|)SoftActivityJet(.*|)$
    - drop ^(n|)IsoTrack(_.*|)$
    - drop ^(n|)GenIsolatedPhoton(_.*|)$
    - drop ^(n|)GenProton(_.*|)$
    - drop ^(n|)Proton(_.*|)$
    - drop ^(n|)PPSLocalTrack(_.*|)$
    - drop ^L1_.*$

skim_failed:
  input_tree: Events
  output_tree: EventsNotSelected
  sel_ref: selection
  invert_sel: true
  column_filters:
    - drop ^.*$
    - keep genWeight
    - keep ^Pileup_(nPU|nTrueInt)$
    - keep ^(n|)LHE.*$
    - keep ^(n|)GenPart(_.*|)$
    - drop ^GenPart_v[xyz]$
    - keep ^HTXS_.*$


selection: "
  auto ele_base_sel = Electron_pt > 5 && abs(Electron_eta) < 2.5;
  auto ele_mvaIso_sel = Electron_mvaIso_WP90;
  auto ele_mvaNoIso_sel = Electron_mvaNoIso_WP90;
  auto ele_pfIso_sel = Electron_pfRelIso03_all < 0.5 || Electron_miniPFRelIso_all < 0.5;
  auto ele_sel = ele_base_sel && (ele_mvaIso_sel || (ele_mvaNoIso_sel && ele_pfIso_sel));

  auto muon_base_sel = Muon_pt > 5 && abs(Muon_eta) < 2.4;
  auto muon_id_sel = Muon_tightId || Muon_mediumId || Muon_mediumPromptId || Muon_highPtId || Muon_mvaMuID_WP >= 1 || Muon_miniIsoId >= 2;
  auto muon_iso_sel = Muon_pfRelIso04_all < 0.5 || Muon_pfRelIso03_all < 0.5 || Muon_tkRelIso < 0.5 || Muon_miniPFRelIso_all < 0.5;
  auto muon_sel = muon_base_sel && muon_id_sel && muon_iso_sel;

  auto tau_base_sel = Tau_pt > 18 && abs(Tau_eta) < 2.5;
  auto tau_deepTau_v2p1_sel = Tau_rawDeepTau2017v2p1VSmu > 0.05 && Tau_idDeepTau2017v2p1VSjet > 0 && Tau_idDeepTau2017v2p1VSe > 0;
  auto tau_deepTau_v2p5_sel = Tau_rawDeepTau2018v2p5VSmu > 0.05 && Tau_idDeepTau2018v2p5VSjet > 0 && Tau_idDeepTau2018v2p5VSe > 0;
  auto tau_pnet_sel = Tau_rawPNetVSjet > 0.05 && Tau_rawPNetVSe > 0.05 && Tau_rawPNetVSmu > 0.05;
  auto tau_sel = tau_base_sel && (tau_deepTau_v2p1_sel || tau_deepTau_v2p5_sel || tau_pnet_sel);

  int n_electrons = Electron_pt[ele_sel].size();
  int n_muons = Muon_pt[muon_sel].size();
  int n_taus = Tau_pt[tau_sel].size();
  int n_met = std::max({PFMET_pt, DeepMETResolutionTune_pt, DeepMETResponseTune_pt, PuppiMET_pt}) > 100;
  if(n_electrons + n_muons + n_taus + n_met >= 2) return true;

  auto fatJet_sel = FatJet_particleNet_XteVsQCD > 0.05 || FatJet_particleNet_XtmVsQCD > 0.05 || FatJet_particleNet_XttVsQCD > 0.05;
  int n_fatJet = FatJet_pt[fatJet_sel].size();
  if(n_fatJet >= 1 || nFatJet >= 2) return true;

  if(n_electrons + n_muons < 1) return false;
  float lep_pt = n_electrons > 0 ? Electron_pt[ele_sel][0] : Muon_pt[muon_sel][0];
  float HT = Sum(Jet_pt);
  return nJet >= 4 && (lep_pt > 20 || HT > 280);
  "
